extends layout

block content
  h1= title
  p Welcome to #{title}
  p Décommenter la ligne 52 et commenter la ligne 50 dans app.js pour venir les heures de descentes 
  p Décommenter la ligne 53 et commenter la ligne 51 pour venir les jours de descentes 
    
  div
    a(href='/contactUs') Contact Us
    br
    br
    a(href='ourServices') Our Services